
#random:active{
    box-shadow: inset 5px 5px 10px black;
}
#random{
    background-color: #780aac;
    border-radius: 1500px;
    box-shadow: 5px 5px 10px black;
    height: 140px;
    width: 140px;
    border: 5px black solid;
    font-weight: bolder;
    color: white;
    padding: 20px;
    outline: 0;
}