*{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}
body{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    .bkgd-ajust{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #theme{
            text-decoration: underline;
            margin-bottom: 25px;
        }
        #maBestiole{
            background-color: #2468b1;
            border-radius: 50px 50px 10px 10px;
            border: 5px black solid;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            color: #fccf00;
            padding: 0 20px 0 20px;
            width: 70%;
            max-width: 800px;
            min-height: 80px;
        }
        .deType{
            border-left: 5px black solid;
            border-right: 5px black solid;
            background-color: white;
            width: 170px;
            display: flex;
            text-align: center;
            justify-content: center;
        }
        #monType{
            background-color: #2468b1;
            border-radius: 10px 10px 50px 50px;
            border: 5px black solid;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            color: #fccf00;
            height: 80px;
            width: 50%;
            max-width: 600px;
            padding: 0 20px;
            margin: 0 0 40px 0;
        }
    }
}