#rpgGen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 0 40px 0;
    #description{
        background-color: $colortertiary;
        border-radius: 30px 30px 10px 10px;
        border: 5px black solid;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0 20px 0 20px;
        width: 70%;
        max-width: 800px;
        min-height: 80px;
        p{
            white-space: pre-line;
            font-size: 23px;
            color: $colorSecundary;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            line-height: 27px
        }
    }
    #titleStat, #titleAlign{
        margin: 15px 0 0 0;
    }
    #align{
        background-color:$colortertiary;
        border: 5px black solid;
        min-width: 300px;
        border-radius: 10px 10px 10px 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 5px;
        margin: 5px 0 20px 0;
        justify-content: center;
        align-items: center;
        color: $colorSecundary;
        font-size: 23px;
    }
    ul{
        background-color: darken($colortertiary, $amount: 20%);
        border: 5px black solid;
        min-width: 300px;
        border-radius: 10px 10px 30px 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 5px;
        margin: 5px 0 0 0;
        justify-content: center;
        align-items: center;
        li{
            background-color: $colortertiary;
            color: $colorSecundary;
            border-radius: 10px ;
            font-weight: bolder;
            min-width: 130px;
            padding: 0;
            margin: 7px;
            p{
                margin: 5px;
            }
            div{
                color: $colorSecundary;
                font-size: 25px;
                margin: 5px;
            }
        }
    }
}