    .bkgd-ajust{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #generatorGeneral{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 85%;
            padding: 40px 5% 0 5% ;
            #themeGeneral{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: 0 0 25px 0;
                p{
                text-decoration: underline;
                margin: 0;
                }
                #theme{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                max-width: 750px;
                margin: 10px 0 0 0;
                .ensemble-carton{
                    width: 25%;
                    min-width: 150px;
                    display: flex;
                    justify-content: center;
                    margin: 15px 0 0 0;
                    border-bottom: 3px black solid;
                    div{
                        margin: 0 10px;
                        padding: 0;
                        border-left: 3px black solid;
                        border-top: 3px black solid;
                        border-right: 3px black solid;
                        background-color: $colorPrimary;
                        border-radius: 10px 10px 0 0;
                        color: white;
                        width: 130px;
                        min-width: 130px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        h2{
                            margin: 0;
                        }
                    }
                }
            }
        }.descriptionGen{
            margin: 0 0 30px 0;
            text-align: center;
            font-weight: normal;
        }
    }
}