
header{
    width: 100%;
    box-sizing: border-box;
    border-bottom: 10px black solid;
    background-image: url('./assets/background-dreamsquid.jpg');
    background-position: center;
    background-size: cover;
    .bkgd-header{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.7);
        img{
            height: 150px;
            margin: 20px 0 0 0;
        }
        h1{
            font-family: 'Texturina', serif;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            color: $colorPrimary;
            margin: 0;
            font-size: 40px;
            text-shadow: 3px -2px 0px black;
        }
        p{
            color: #000000;
            text-align: center;
            font-size: 20px;
            margin: 0 40px 30px 40px;
        }
    }
}


@media screen and (max-width: 360px){

    header{
        h1{
            font-size: 15px;
        }
        img{
            max-height: 100px;
        }
    }
}